.d-flex {
  display: flex;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
/**margin*/
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 1.5rem;
}
.m-3 {
  margin: 2rem;
}

/**margin left*/
.ml-1 {
  margin-left: 0.5rem;
}
.ml-2 {
  margin-left: 1rem;
}
.ml-3 {
  margin-left: 1.5rem;
}

.demo-page {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  height: 100vh;
}
